h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1 {
  font-family: $font__heading;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
h2,
h3 {
  text-transform: uppercase;
  font-family: $font__medium;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
