$hover-bg: black;
$main-color: black;
$secondary-color: white;

.site-brand {
  font-family: 'objectivebold', sans-serif;
  font-size: 1.8rem;
  color: white;
  background-color: black;
  text-align: center;
  width: fit-content;
  padding: 0.8em;

  &:hover {
    color: black;
    background-color: white;
  }
}

.menu-main-container {
  text-transform: uppercase;
  font-family: $font__bold;
  letter-spacing: 0.05em;

  a {
    display: block;
    text-decoration: none;
    color: $color__text-main;
  }
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    // ul {
    //   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    //   float: left;
    //   position: absolute;
    //   top: 100%;
    //   left: -999em;
    //   z-index: 99999;

    //   ul {
    //     left: -999em;
    //     top: 0;
    //   }

    //   li {
    //     &:hover > ul,
    //     &.focus > ul {
    //       left: 100%;
    //     }
    //   }

    //   a {
    //     width: 200px;
    //   }

    //   :hover > a,
    //   .focus > a {
    //   }

    //   a:hover,
    //   a.focus {
    //   }
  }

  // li:hover > ul,
  // li.focus > ul {
  //   left: auto;
  // }
  //   }

  //   li {
  //     float: left;
  //     position: relative;

  //     &:hover > a,
  //     &.focus > a {}
  //   }

  //   .current_page_item > a,
  //   .current-menu-item > a,
  //   .current_page_ancestor > a,
  //   .current-menu-ancestor > a {
  //   }
}
.site-header {
  background-color: white;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}
.menu-toggle {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em 2em 0 0;
  height: 70px;
  width: 70px;
  background-color: transparent;
  border: none;
}

.main-navigation.toggled {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .link-container {
    color: black;
  }
}

@media screen and (min-width: 37.5em) {
  .site-header {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .menu-toggle {
    display: none;
  }
  .menu {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }
  .main-navigation ul {
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .main-navigation li {
    width: 150px;
    text-align: left;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.link-container {
  position: relative;
  display: inline-block;
  padding: 4px 8px 4px 2px;
  .link {
    font-size: 0.9rem;
    font-weight: 700;
  }
  &:hover {
    .link {
      color: white;
    }
  }
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: $hover-bg;
    z-index: -1;
    content: '';
  }
  &:hover::before {
    animation: bg-animation 0.6s 1;
    animation-fill-mode: forwards;
  }
}

@keyframes bg-animation {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
