.eating-drinking {
  border-color: $color__background-1;
}

.listening-to {
  border-color: $color__background-2;
}

.doing {
  border-color: $color__background-3;
}

section {
  border-width: 2em;
  border-style: solid;
}
