.single-post-page {
  .post-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - #{$height__site-nav});
    font-size: 3rem;
    line-height: 1.2em;
    font-weight: 700;
    word-wrap: break-word;
    font-family: $font__heading;
    background-color: black;
    color: white;
    padding: 1em;
    text-transform: uppercase;
  }

  .down-arrow {
    max-width: 100px;
  }

  .info-label {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
  }
  .info-content {
    margin-bottom: 1rem;
  }

  .feature-img-container {
    width: 50%;
    position: absolute;
    top: 120px;
    left: 0;
    height: 100vh;
    overflow: hidden;
  }
  .overlay-text {
    padding: 25px;
    background: $color__background-screen;
    height: fit-content;
  }
  .post-content {
    padding-top: $padding__default;
  }
}
