.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.site-content {
  min-height: 100%;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.home {
  .site-branding {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .custom-logo-link {
    display: inline-block;
    width: 250px;
  }
}
